* {
    box-sizing: border-box;
}

:root {
    --primary-font: "Sora";
    --secondary-font: "Open Sans";

    --primary-color: #2e80ce;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}

body {
    font-size: 1.6rem;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    font-family: var(--primary-font);
    min-width: 205px;
    line-height: var(--height);
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    display: inline-block;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading.lv2 {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
}

.section-desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

/* Header */
.header {
    background: #10375c;
    padding: 30px 0 110px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}

.logo__text {
    color: #fff;
}

.logo__brand {
    margin-left: 6px;
    font-size: 1.8em;
    font-weight: 400;
    display: block;
}

.logo__brand-small {
    line-height: 1.5;
    text-align: right;
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.navbar__item--active::before {
    position: absolute;
    left: 8px;
    top: 20px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.action__signin,
.navbar__link {
    color: #c9d2da;
    font-weight: 400;
    font-size: 1.6rem;
    padding: 14px 21px;
}

.navbar__link:hover,
.navbar__item--active {
    position: relative;
    color: #fff;
    font-weight: 400;
}

.action__signup {
    --height: 44px;
    min-width: 104px;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -0.02em;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__contact {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}
/* Services */
.services {
    padding: 170px 0;
}

.services__intro {
    text-align: center;
}

.services__intro .section-desc {
    width: 468px;
    margin: 0 auto;
}

.services__image {
    margin-top: 70px;
}

.services__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.services__content {
    display: flex;
    align-items: center;
    gap: 130px;
}

.services-item__body {
    display: flex;
    align-items: center;
    gap: 20px;
    min-width: 470px;
    padding: 21px 61px 21px 22px;
}

.services-item__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eff6fd;
}

.services-item__img {
    height: 100px;
}

.services-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.26;
}

.services-item__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}
